@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container {
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg{
    width: max-content;
  }
}


  .menuContainer {
    display: none; // Hide menu items by default
  }

  @media (min-width: 992px) {
    .menuContainer{
      display: block; // Show menu items when screen size is 992px or larger
    }
  }


.contentContainer {
  padding: 5px 20px;
  width: 100%;

  @media (min-width: 1025px) and (max-width: 1745px)  {
      width: 82%;
    }
}