@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;

  @include xl{
    grid-template-columns: repeat(3, 1fr);
  }
  @include lg{
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: repeat(1, 1fr);
  }
  @include sm {
    grid-auto-rows: minmax(120px, auto);
  }

  .box {
    padding: 20px;
    border-radius: 16px;
    // border: 2px solid $soft-bg;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.45);
  }

  .box1 {
    grid-column: span 1;
    grid-row: span 3;
  }

  .box4 {
    grid-column: span 1;
    grid-row: span 3;
  }
  .box7 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #d2b5b5;

    @include md {
      display: none;
    }
  }
}